@font-face {
  font-family: "sf_pro_display_bold";
  src: url("fonts/sf-pro-display_bold.woff2");
}
@font-face {
  font-family: "sf_pro_display_regular";
  src: url("fonts/sf-pro-display_regular.woff");
}
@font-face {
  font-family: "sf_pro_display_semibold";
  src: url("fonts/sf-pro-display_semibold.woff2");
}
@font-face {
  font-family: "sf_pro_text_bold";
  src: url("fonts/sf-pro-text_bold.woff2");
}
@font-face {
  font-family: "sf_pro_text_regular";
  src: url("fonts/sf-pro-text_regular.woff2");
}
@font-face {
  font-family: "sf_pro_text_semibold";
  src: url("fonts/sf-pro-text_semibold.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: relative;
}
.nav_bar {
  position: relative;
  height: 3rem;
  width: 100%;
  background: rgb(255, 255, 255);
}
nav {
  position: fixed;
  width: 100%;
  color: black;
  background: #ffffff8e;
  z-index: 99;
}
.nav_items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav_items > a {
  font-family: sf_pro_display_regular;
  color: black;
  font-weight: 100;
  text-decoration: none;
}

header {
  /* margin-top: 2rem; */
  width: 100%;
  height: 70vh;
  position: relative;
  color: #ffffff;
  background-image: url("images/hero_iphone_17_pro__bknyzxfk2agi_largetall.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 0.1px;
}
header h1 {
  font-family: sf_pro_display_regular;
  margin-top: 4rem;
  font-size: 3rem;
}
header h3 {
  font-family: sf_pro_display_regular;
  font-size: 2rem;
  font-weight: 100;
}
header > .buttons {
  display: flex;
  justify-content: center;
  font-family: sf_pro_semibold;
  margin-top: 1rem;
  gap: 2rem;
}
header > .buttons .learn_more {
  background-color: #0077ed;
  padding: 0.7rem 1.4rem;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 1.1rem;
}
header > .buttons .buy {
  background-color: transparent;
  padding: 0.7rem 1.3rem;
  border-radius: 50px;
  border: 1.5px solid #0077ed;
  color: #0077ed;
  font-size: 1.1rem;
}

header > .buttons .buy:hover {
  background: #0077ed;
  color: #ffffff;
}

.iphone_air {
  width: 100%;
  height: 70vh;
  margin-top: 0.7rem;
  position: relative;
  text-align: center;
  padding-top: 0.1px;
  overflow: hidden;
}

.iphone_air_img {
  position: absolute;
  z-index: 88;
  background: #f5f5f7;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.iphone_air_img img {
  width: 92%;
  object-fit: cover;
  object-position: center;
}
.iphone_air_text {
  position: relative;
  z-index: 99;
}
.iphone_air h1 {
  font-family: sf_pro_display_regular;
  margin-top: 4rem;
  font-size: 3rem;
}
.iphone_air h3 {
  font-family: sf_pro_display_regular;
  font-size: 2rem;
  font-weight: 100;
}
.iphone_air_text > .buttons {
  display: flex;
  justify-content: center;
  font-family: sf_pro_semibold;
  margin-top: 1rem;
  gap: 2rem;
}
.iphone_air_text > .buttons .learn_more {
  background-color: #0077ed;
  padding: 0.7rem 1.4rem;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
}
.iphone_air_text > .buttons .buy {
  background-color: transparent;
  padding: 0.7rem 1.3rem;
  border-radius: 50px;
  border: 1.5px solid #0077ed;
  color: #0077ed;
  font-size: 1.1rem;
  cursor: pointer;
}
.iphone_air_text > .buttons .buy:hover {
  background: #0077ed;
  color: #ffffff;
}

.section_2 {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
  margin-top: .7rem;
  padding: 0 1rem;
  position: relative;
}

.section_2_1 {
  width: 50%;
  height: 100%;
  position: relative;
}

.section_2_1 img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section_2_2 {
  width: 50%;
  height: 100%;
  position: relative;
  background: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_2_2 img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section_2_2_right {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
.section_2_1_left {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
.section_2_1_left h1 {
  font-family: sf_pro_display_regular;
  margin-top: 4rem;
  font-size: 2.6rem;
}
.section_2_1_left h3 {
  font-family: sf_pro_display_regular;
  font-size: 1.3rem;
  font-weight: 100;
  color: #1d1d1f;
}

.section_2_1_left > .buttons {
  display: flex;
  justify-content: center;
  font-family: sf_pro_semibold;
  margin-top: 1rem;
  gap: 0.7rem;
}

.section_2_1_left > .buttons .learn_more {
  background-color: #0077ed;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}
.section_2_1_left > .buttons .buy {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1.5px solid #0077ed;
  color: #0077ed;
  font-size: 1rem;
  cursor: pointer;
}
.section_2_1_left > .buttons .buy:hover {
  background: #0077ed;
  color: #ffffff;
}
/* --- */
.section_2_2_right {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
.section_2_2_right h1 {
  font-family: sf_pro_display_regular;
  margin-top: 4rem;
  font-size: 2.6rem;
}
.section_2_2_right h3 {
  font-family: sf_pro_display_regular;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1rem;
  color: #1d1d1f;
  margin-top: 0.4rem;
}

.section_2_2_right > .buttons {
  display: flex;
  justify-content: center;
  font-family: sf_pro_semibold;
  margin-top: 1rem;
  gap: 0.7rem;
}

.section_2_2_right > .buttons .learn_more {
  background-color: #0077ed;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}
.section_2_2_right > .buttons .buy {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1.5px solid #0077ed;
  color: #0077ed;
  font-size: 1rem;
  cursor: pointer;
}
.section_2_2_right > .buttons .buy:hover {
  background: #0077ed;
  color: #ffffff;
}

/* -- */

.horizontal_card {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: .7rem;
}
.horizontal_card > img {
  width: 65vw;
  height: 100%;
}

/* --- */

footer {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #f5f5f7;
  margin-top: 1rem;
  padding-top: 1rem;
}
.footer_wraper {
  width: 51.3vw;
  height: 100%;
  margin: auto;
}
.servise {
  font-family: sf_pro_text_regular;
  /* border-bottom: 1px solid #B5B5B6; */
  padding-top: 1rem;
  font-weight: 100;
}

.servise p {
  color: #909092;
  font-size: 0.8rem;
  margin-top: 0.7rem;
}
.servise p u {
  color: black;
  cursor: pointer;
}
.footer_links_wraper {
  width: 100%;
  min-height: 20vh;
  font-family: sf_pro_text_regular;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1.5rem;
  border-top: 1px solid #909092;
  border-bottom: 1px solid #909092;
}
.footer_links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.links_1_or_2,
.links_3_or_4 {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.footer_links h2 {
  font-size: 0.8rem;
  color: #434347;
  font-weight: 600;
}
.footer_links ul h2 {
  margin-top: 1.5rem;
  color: #434347;
  font-weight: 600;
}

.footer_links li {
  list-style: none;
  color: #909092;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid transparent;
  width: fit-content;
}

.footer_links li:hover {
  border-bottom: 1px solid #1d1d1f;
  transition-duration: 800;
  cursor: pointer;
}

.more_way_to_shop {
  font-family: sf_pro_text_regular;
  color: #909092;
  font-size: 0.8rem;
  margin-top: 4rem;
}
.more_way_to_shop a {
  color: #0066cc;
}
.copyright {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sf_pro_text_regular;
  color: #909092;
  font-size: 0.8rem;
  padding: 1.5rem 0;
}
.copyright span {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* -------- */

@media (max-width: 700px) {
  .nav_items {
    display: none;
  }

  /* -- */

  header {
    height: 55vh;
  }
  header h1 {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  header h3 {
    font-size: 1.2rem;
  }
  header > .buttons {
    margin-top: 1rem;
    gap: 2rem;
  }
  header > .buttons .learn_more {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
  header > .buttons .buy {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  /* --- */
  .iphone_air {
    height: 50vh;
    margin-top: 0.5rem;
  }
  .iphone_air h1 {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  .iphone_air h3 {
    font-size: 1.2rem;
  }
  .iphone_air_text > .buttons .learn_more {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
  .iphone_air_text > .buttons .buy {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  /* -- */

  .section_2 {
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
  .section_2_1 {
    width: 100%;
    height: 50vh;
  }
  .section_2_2 {
    width: 100%;
    height: 50vh;
  }

  .section_2_2 img {
    width: 100%;
  }

  .section_2_1_left h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .section_2_1_left h3 {
    font-size: 1rem;
  }

  .section_2_1_left > .buttons {
    margin-top: 0.5rem;
    gap: 0.7rem;
  }

  .section_2_1_left > .buttons .learn_more {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
  .section_2_1_left > .buttons .buy {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  /* --- */
  .section_2_2_right h1 {
    font-family: sf_pro_display_regular;
    margin-top: 2rem;
    font-size: 2rem;
  }
  .section_2_2_right h3 {
    font-size: 1rem;
  }

  .section_2_2_right > .buttons {
    margin-top: 0.5rem;
  }

  .section_2_2_right > .buttons .learn_more {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
  .section_2_2_right > .buttons .buy {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  /* --- */
  .horizontal_card {
    height: 30vh;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  /* ---- */

  footer {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
  .footer_wraper {
    width: 100%;
    padding: 0 1rem;
  }
  .servise p {
    color: #4b4b4e;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .footer_links_wraper {
    min-height: 100vh;
    padding: 0rem;
  }
  .footer_links {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .links_1_or_2,
  .links_3_or_4 {
    margin-top: 2rem;
  }
  .footer_links h2 {
    font-size: 0.9rem;
  }
  .more_way_to_shop {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .copyright {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0;
    gap: 0.5rem;
  }
  .copyright span {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
